
.Thunderstorm {
 background-image: url(https://media.giphy.com/media/B7ppUExX92PjW/giphy.gif);
 background-size: contain;
 background-repeat: no-repeat;
 height: 300px;
 width: 600px;
}

 .Drizzle {
  background-image: url(https://media.giphy.com/media/gTd5kCiMFTEgE/giphy.gif);
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: 600px;
 }

 .Rain {
  background-image: url(https://media3.giphy.com/media/DMZfhaUjXogtG/giphy.gif?cid=790b7611366e9667948cf28614ee0c6a939ad78d2e349b52&rid=giphy.gif);
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: 600px;
 }

 .Clear {
  background-image: url(https://media.giphy.com/media/YohvjRwIzXHt6SL6fX/giphy.gif);
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
 width: 600px;
 }

 .Snow {
  background-image: url(https://media.giphy.com/media/jKIP9X4OvtyBW/giphy.gif);
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: 600px;
 }

 .Clouds {
  background-image: url(https://media.giphy.com/media/oqxHGqMrKmeVG/giphy.gif);
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
 width: 600px;
 }

 .Mist, .Smoke, .Haze, .Dust, .Fog, .Sand, .Ash, .Squall, .Tornado {
  background-image: url(https://media.giphy.com/media/6P0aYkSgdVipy/giphy.gif);
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
 width: 600px;
 }


