* {
  box-sizing: border-box;
}

html {
  background-image: url('https://cdn5.vectorstock.com/i/1000x1000/12/44/yellow-sunburst-retro-background-vector-22621244.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

main {
 font-family: 'Limelight', cursive;
 margin-top: 70px;
}

// ***********************   HOMEPAGE SCSS   ***********************

h1 {
  font-family: 'Limelight', cursive;
  color: rgb(255, 0, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  text-transform: uppercase;
  font-size: 60px;
  border-style: none none dotted none;
  border-width: 5px;
  border-color: rgb(255, 0, 255);
}

.subtitle {
  font-family: 'Monoton', cursive;
  color: rgb(88, 39, 221);
  display: flex;
  align-items: center;
  justify-content: center;  
  margin: 20px;
  text-transform: uppercase;
  font-size: 35px;
}

// ***********************   CITY SEARCH SCSS   ***********************

.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 15px;
  input.input {
    margin: 20px;
    padding: 12px;
    font-family: 'Limelight', cursive;
    color: rgb(58, 221, 8);
    font-size: 18px;
    border-style: dotted;
    border-width: 5px;
    border-color: rgb(61, 247, 4);
    background-color: transparent;
  }
  .button.button.city {
    margin: 20px;
    padding: 12px;
    font-family: monospace;
    background-color: transparent;
    font-family: 'Limelight', cursive;
    color: rgb(58, 221, 8);
    text-transform: uppercase;
    font-size: 18px;
    border-style: dotted;
    border-width: 5px;
    border-color: rgb(61, 247, 4);
  }
}

// ***********************   LONDONER BUTTON SCSS   ***********************

.london {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  .button.button.london {
    margin: 20px;
    padding: 12px;
    font-family: monospace;
    background-color: transparent;
    font-family: 'Limelight', cursive;
    color: rgb(58, 221, 8);
    text-transform: uppercase;
    font-size: 25px;
    border-style: dotted;
    border-width: 5px;
    border-color: rgb(61, 247, 4);
  }
}

Link {
  text-decoration: none;
}

// ***********************   HOMEPAGE GIF SCSS   ***********************

.flying {
  display: flex;
  align-items: center;
  justify-content: center;
  .catGif{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: 200px;
  width: 300px;
  border-style: dotted;
  border-width: 5px;
  border-color: rgb(255, 0, 255);
  }
 }

 // ***********************   SHOWPAGE SCSS   ***********************

.mainShow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

h2 {
  padding: 0;
  margin: 10px;
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Limelight', cursive;
  color: rgb(255, 0, 255);
  text-align: center;
  border-style: none none dotted none;
  border-width: 4px;
  border-color: rgb(255, 0, 255);
}

// ***********************   TOP OF SHOWPAGE SCSS   ***********************

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

// ***********************   WEATHER SCSS   ***********************

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  h3 {
    padding: 0;
    margin: 0;
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(58, 221, 8);
  }
  p {
    padding: 0;
    margin: 0; 
    color: rgb(88, 39, 221);
  }
}

.animal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 0, 255);
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
  }
}

// ***********************   RANDOM FACT SCSS   ***********************

.random {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  margin: none;
  div .space {
    height: 50px;
  }
  .fact {
    font-size: 18px;
    justify-content: center;
    font-style: italic;
    height: 100%;
    width: 100%;
    text-align: center;
    color: rgb(58, 221, 8);
  }
}

// ***********************   BOTTOM OF SHOWPAGE SCSS   ***********************

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
}

// ***********************   NEWS SCSS   ***********************

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  ul { 
    list-style-type: none; 
    padding-left: 0;
  }
  li {
    margin: 10px;
    border-style: none none dotted none;
    border-width: 4px;
    border-color: rgb(61, 247, 4);
  }
  p {
    font-size: 15px;
    padding: 0;
    margin: 0;
    color: rgb(88, 39, 221);
  }
}

 // ***********************   TUBE SCSS   ***********************

 $district: rgb(0,115,37);
 $circle: rgb(255,208,0);
 $central: rgb(223,33,17);
 $bakerloo: rgb(138,78,31);
 $metropolitan: rgb(118,10,87);
 $piccadilly: rgb(0,9,171);
 $jubilee: rgb(134,143,152);
 $hammersmith: rgb(216,152,175);
 $northen: rgb(0,0,0);
 $waterloo: rgb(190,233,224);
 $victoria: rgb(0,159,229);
 $tflBlue: rgb(16,59,146);
 $tflgrey: rgb(45,48,57);

div .tube {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Limelight', cursive;
    ul {
      list-style-type: none; 
      padding-left: 0;
    }
    li {
      padding: none;
      margin: none;
      text-align: center;
      border: solid white;
    }
    p {
      font-size: 12px;
      color: white;
    }
     
      li:nth-child(1) {
        background: $bakerloo;
      }
      li:nth-child(2) {
        background: $central;
      }
      li:nth-child(3) {
        background: $circle;
      }
      li:nth-child(4) {
        background: $district;
      }
      li:nth-child(5) {
        background: $hammersmith;
      }
      li:nth-child(6) {
        background: $jubilee;
      }
      li:nth-child(7) {
        background: $metropolitan;
      }
      li:nth-child(8) {
        background: $northen;
      }
      li:nth-child(9) {
        background: $piccadilly;
      }
      li:nth-child(10) {
        background: $victoria;
      }
      li:nth-child(11) {
        background: $waterloo;
      }
    }

// ***********************   REFRESH AND NEW CITY SCSS   ***********************

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  button.refresh {
    margin: 20px;
    padding: 12px;
    font-family: monospace;
    background-color: transparent;
    font-family: 'Limelight', cursive;
    color: rgb(255, 0, 255);
    text-transform: uppercase;
    font-size: 25px;
    border-style: dotted;
    border-width: 5px;
    border-color: rgb(61, 247, 4);
  }
  button.newCity {
    margin: 20px;
    padding: 12px;
    font-family: monospace;
    background-color: transparent;
    font-family: 'Limelight', cursive;
    color: rgb(88, 39, 221);
    text-transform: uppercase;
    font-size: 25px;
    border-style: dotted;
    border-width: 5px;
    border-color: rgb(61, 247, 4);
  }
}

// ***********************   GIF SCSS   ***********************

.Thunderstorm {
  background-image: url(https://media.giphy.com/media/B7ppUExX92PjW/giphy.gif);
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
 }
 
  .Drizzle {
   background-image: url(https://media.giphy.com/media/gTd5kCiMFTEgE/giphy.gif);
   background-size: contain;
   background-repeat: no-repeat;
   height: 300px;
   width: 300px;
  }
 
  .Rain {
   background-image: url(https://media3.giphy.com/media/DMZfhaUjXogtG/giphy.gif?cid=790b7611366e9667948cf28614ee0c6a939ad78d2e349b52&rid=giphy.gif);
   background-size: contain;
   background-repeat: no-repeat;
   height: 300px;
   width: 300px;
  }
 
  .Clear {
   background-image: url(https://media.giphy.com/media/YohvjRwIzXHt6SL6fX/giphy.gif);
   background-size: contain;
   background-repeat: no-repeat;
   height: 300px;
   width: 300px;
  }
 
  .Snow {
   background-image: url(https://media.giphy.com/media/jKIP9X4OvtyBW/giphy.gif);
   background-size: contain;
   background-repeat: no-repeat;
   height: 300px;
   width: 300px;
  }
 
  .Clouds {
   background-image: url(https://media.giphy.com/media/oqxHGqMrKmeVG/giphy.gif);
   background-size: contain;
   background-repeat: no-repeat;
   height: 300px;
   width: 300px;
  }
 
  .Mist, .Smoke, .Haze, .Dust, .Fog, .Sand, .Ash, .Squall, .Tornado {
   background-image: url(https://media.giphy.com/media/6P0aYkSgdVipy/giphy.gif);
   background-size: contain;
   background-repeat: no-repeat;
   height: 300px;
   width: 300px;
  }
